/* isw-wp-mailing-list-form.css */
.isw-ml-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.isw-ml-form-message {
    border: 1px solid #a3f7a3;
    border-radius: 1rem;
    background-color: #237223;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

.isw-ml-error {
    border: 1px solid #f7a3a3;
    background-color: #722323;
    color: #ffffff; 
}

.isw-ml-form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.isw-ml-form-container form input[type=text],
.isw-ml-form-container form input[type=email] {
    padding: 1rem 1rem;
    border: 1px solid #606060;
    border-radius: 1rem;
    /* color: #ffffff; */
    box-sizing: border-box;
}

.isw-ml-form-container form input[type=submit] {
    border: 1px solid #606060;
    /* background-color: #001f53; */
    border-radius: 1rem;
    /* color: #ffffff; */
    /* width: initial; */
    padding: 1rem 1rem;
    box-sizing: border-box;
}

.isw-ml-form-container form input[type=text]::placeholder,
.isw-ml-form-container form input[type=email]::placeholder {
    color: #808080;
}

.isw-ml-form-container form input[type=text]:focus,
.isw-ml-form-container form input[type=email]:focus {
    outline: 2px solid #4ABB6B;
}